body{
  font-family:Arial,San-Serif;
  font-size: 100%;
  background-color:#C1DCB6;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
header{
  padding: 50px;
  background-color:#C1DCB6;
}
h1{
  color:#808080;
  text-align: center;
}
nav{
  background-color:#C1DCB6;
  border-color: #000000;
  min-height: 64px;
  margin-left:750px;
}
nav li{
  float:left;
  width: 100px;
}
nav a{
  display: block;
  color:#808080;
  line-height: 4em;
  font-weight: bold;
  text-align:center;
  border-style:solid;
}
nav li a:hover{
  color:#808080;
  background-color:#C1DCB6;
  margin-left: 4px;
}
footer{
  background-color:#C1DCB6;
  color:#808080;
  padding: 3px 0;
  margin-top: 30px;
  margin-left: 0px;
  border-style:solid;
}
.tesak3{
  margin-right: 400px;
  border-style:solid;
         width:380px;
        height:270px;
        margin-top: 10px;
}  
.tesak4{
  margin-left: 1450px;
  margin-top: -550px;
  border-style:solid;
         width:340px;
        height:250px;
 
  
}
.audio{
  margin-left: 700px;
}
.video{
  margin-left: 500px;
        width:720px;
        height:520px;
        
}
